html, body{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat fixed center;
}

#content-keeper{
    height: inherit;
    width: inherit;
}



#upload-btn{
    position: fixed;
    z-index: 10;
    float: right;
    margin: 10px;
    top: 0;
    right: 0;
}

#refresh-btn{
    position: fixed;
    z-index: 10;
    float: left;
    margin: 10px;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 1;
    vertical-align: middle;
}

#main-content{
    margin: 50px;
    margin-top: 80px;
}

img#big-loader{
    position: absolute;
    top: 50%;
    left: 50%;
}

.left.carousel-control, .right.carousel-control{
    cursor: pointer;
}

.carousel-inner, div.item{
    height: 100%;
}

.thumbnail-img{
    max-width: 128px;
    max-height: 128px;
    box-shadow: 0 5px 20px 1px #5a5a5a;
}

.carousel-caption{
    bottom: 40px;
}